<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/layout">

<section id="profileSection" layout:fragment="content">
    <div class="container">
        <div class="starter-template row">
            <aside id="profile-menu" class="col-md-3">
                <div class="list-group js-profile-group-menu">
                    <button type="button" class="list-group-item active" th:attr="data-url=@{/account/profile/info}">
                        <i class="fa fa-user"></i>
                        <span th:text="#{profile.links.userInfo}"></span>
                    </button>
                    <button type="button" class="list-group-item" th:attr="data-url=@{/account/profile/preferences}">
                        <i class="fa fa-cogs"></i>
                        <span th:text="#{profile.links.preferences}"></span>
                    </button>
                    <button type="button" class="list-group-item" th:attr="data-url=@{/account/profile/settings}">
                        <i class="fa fa-wrench"></i>
                        <span th:text="#{profile.links.accountSettings}"></span>
                    </button>
                </div>
            </aside>

            <section id="profile-content">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div id="profile-content-partial" class="panel-body">
                            <article>Carregando...</article>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

</html>