<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/layout">

<section id="preferencesSection" layout:fragment="content">
    <div class="container">
        <form id="langForm" name="f" th:action="@{/account/preferences}" method="post"
              class="form-horizontal section-top-padding" aria-labelledby="langForm">
            <fieldset>
                <legend><i class="fa fa-cogs"></i> <span th:text="#{header.userDetails.preferences}"></span></legend>
            </fieldset>
        </form>
    </div><!-- /.container -->
</section>
</html>