<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/layout">

<section id="profileSection" layout:fragment="content">
    <div class="container">
        <div class="starter-template row">
            <aside id="MenuProfileLinks" class="col-md-3">
                <div class="list-group">
                    <a href="/account/profile/info" class="list-group-item active">
                        <i class="fa fa-user"></i>
                        <span th:text="#{profile.links.userInfo}"></span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-cogs"></i>
                        <span th:text="#{profile.links.preferences}"></span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-wrench"></i>
                        <span th:text="#{profile.links.accountSettings}"></span>
                    </a>
                </div>
            </aside>

            <section id="profileContent">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body" layout:fragment="profile-content">
                            <article>Conteudo principal</article>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

</html>