<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div id="preferencesModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="preferencesModal"
     th:fragment="preferences">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-cogs"></i>
                    <span th:text="#{header.userDetails.preferences}"></span>
                </h4>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form class="form-horizontal" th:action="@{welcome}" th:object="${null}" method="post">
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                th:text="#{preferences.modal.button.close}"></button>
                        <button type="submit" class="btn btn-primary"
                                th:text="#{preferences.modal.button.save}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>