<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="spring, mvc, app, heroku"/>
    <meta name="author" content="Guilherme Alves"/>
    <link rel="icon" th:href="@{/assets/favicon.ico}"/>

    <title>spring-mvc-heroku</title>

    <div th:replace="fragments/styles"></div>
</head>
<body>
<header th:replace="fragments/nav :: navigation"></header>

<section layout:fragment="content">
    <article>Conteudo principal</article>
</section>

<footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/scripts"></div>
</body>
</html>