/* Default colors : http://paletton.com/palette.php?uid=14m0u0khopy7qFicguDmvkps9eJ */
body {
  padding-top: 50px;
}

.starter-template {
  padding: 2.5em 1em;
  text-align: center;
}

.section-top-padding{
    padding-top: 2.5em;
}

.navbar-purple {
  background-color: #5E478B;
  border-color: #41296F;
}

.navbar-purple .container .navbar-header a,
.navbar-purple .container #navbar .navbar-nav li a,
.navbar-purple .container #navbar .navbar-nav .dropdown .dropdown-menu > li a:hover{
    color: #FFF;
}

.navbar-purple .container #navbar .navbar-nav .dropdown .dropdown-menu > li a{
    color: #333;
}

@media screen and (max-width: 767px) {
    .navbar-purple .container #navbar .navbar-nav .dropdown .dropdown-menu > li a{
        color: #FFF;
    }
}

.navbar-purple .container .navbar-header a:hover,
.navbar-purple .container #navbar .navbar-nav li a:hover{
  color: #EDEDED;
}

.navbar-purple .container #navbar .navbar-nav li a:hover{
  background-color: #816DA7;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
    background-color: #AD9EC8;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #FFF;
}

.navbar-purple .navbar-nav>.open>a,
.navbar-purple .navbar-nav>.open>a:focus,
.navbar-purple .navbar-nav>.open>a:hover{
    color: #555;
    background-color: #816DA7;
}

.navbar-purple .container #navbar .navbar-nav .dropdown .dropdown-menu > li a:hover{
    background-color: #AD9EC8;
}

.dropdown a#userActions{
    padding-top: 8px;
    padding-bottom: 8px;
}