<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="template/layout"
		>

	<section layout:fragment="content">
		<div class="container">
			<div class="starter-template">
				<h1>It's working! <i class="fa fa-magic"></i></h1>
				<p class="lead"><b>spring-mvc-heroku</b> app is awake and running right now.</p>
				<a href="https://github.com/gsag/spring-mvc-heroku" target="_blank">
					<p class="lead">See this project on github <i class="fa fa-github"></i></p>
				</a>
			</div>
		</div><!-- /.container -->
	</section>
</html>