<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/layout">

<section id="registerSection" class="section-top-padding" layout:fragment="content">
    <div class="container">

        <form id="registerForm" th:action="@{/register}" th:object="${user}" method="post">

            <fieldset>
                <legend><i class="fa fa-user-plus"></i> <span th:text="#{register.title}"></span></legend>

                <div class="row">
                    <div class="form-group col-md-8 col-sm-12 col-xs-12">
                        <label for="username" th:text="#{register.form.field.username}"></label>
                        <input type="text" class="form-control" id="username"
                               th:placeholder="#{register.form.field.username.placeholder}"
                               th:field="*{username}"/>
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                              class="alert" th:errorclass="alert-danger">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label for="firstName" th:text="#{register.form.field.firstname}"></label>
                        <input type="text" class="form-control" id="firstName"
                               th:placeholder="#{register.form.field.firstname.placeholder}"
                               th:field="*{firstName}"/>
                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                             class="alert" th:errorclass="alert-danger">
                        </div>
                    </div>

                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label for="lastName" th:text="#{register.form.field.lastname}"></label>
                        <input type="text" class="form-control" id="lastName"
                               th:placeholder="#{register.form.field.lastname.placeholder}"
                               th:field="*{lastName}"/>
                        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                              class="alert" th:errorclass="alert-danger"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label for="password" th:text="#{register.form.field.password}"></label>
                        <input type="password" class="form-control" id="password"
                               th:placeholder="#{register.form.field.password.placeholder}"
                               th:field="*{password}"/>
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                              class="alert" th:errorclass="alert-danger"></div>
                    </div>

                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label for="confirmPassword" th:text="#{register.form.field.confirmpassword}"></label>
                        <input type="password" class="form-control" id="confirmPassword"
                               th:placeholder="#{register.form.field.confirmpassword.placeholder}"
                               th:field="*{confirmPassword}"/>
                        <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                              class="alert" th:errorclass="alert-danger"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label for="selectGender" th:text="#{register.form.field.gender}"></label>
                        <select id="selectGender" class="form-control" th:field="*{gender}">
                            <!--/*@thymesVar id="genders" type="entity.user.Gender"*/-->
                            <!--/*@thymesVar id="sex" type="java.lang.Object"*/-->
                            <option th:each="sex : ${genders}"
                                    th:value="${{sex}}">
                                <span th:if="${sex eq T(entity.user.Gender).MALE}"
                                      th:text="#{register.form.field.gender.male}">
                                </span>
                                <span th:if="${sex eq T(entity.user.Gender).FEMALE}"
                                      th:text="#{register.form.field.gender.female}">
                                </span>
                            </option>
                        </select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label for="selectLanguages" th:text="#{register.form.field.lang}"></label>
                        <select id="selectLanguages" class="form-control" th:field="*{langKey}">
                            <!--/*@thymesVar id="languages" type="java.util.Locale"*/-->
                            <option th:each="locale : ${languages}"
                                    th:value="${{locale}}">
                                <span th:if="${locale eq T(util.LocaleConstants).ENGLISH}"
                                      th:text="#{register.form.field.lang.en}">
                                </span>
                                <span th:if="${locale eq T(util.LocaleConstants).PORTUGUESE_BR}"
                                      th:text="#{register.form.field.lang.pt_BR}">
                                </span>
                            </option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <button type="submit" class="btn btn-default btn-lg btn-block">
                                <span th:text="#{register.form.button.submit}"></span> <i class="fa fa-plus-square-o"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div><!-- /.container -->
</section>
</html>