<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<nav class="navbar navbar-default navbar-purple navbar-fixed-top" th:fragment="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/welcome">
                <i class="fa fa-leaf"></i> spring-mvc-heroku</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/register}"><span th:text="#{header.signup}"></span> <i class="fa fa-user-plus"></i></a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/login}"><span th:text="#{header.login}"></span> <i class="fa fa-sign-in"></i></a>
                </li>
                <li class="dropdown" sec:authorize="isAuthenticated()">
                    <a id="userActions" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <!--/*@thymesVar id="gravatar" type="String"*/-->
                        <img class="img-circle" th:src="${gravatar}"/>
                        <!--/*@thymesVar id="activeUser" type="String"*/-->
                        <span th:text="${activeUser}"></span> <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form id="logout" th:action="@{/logout}" method="post"></form>
                            <a onclick="document.getElementById('logout').submit();" href="javascript:void(0);">
                                <i class="fa fa-sign-out"></i>
                                <span th:text="#{header.userDetails.logout}"></span>
                            </a>
                        </li>

                        <li role="separator" class="divider"></li>

                        <li>
                            <a th:href="@{/account/profile}">
                                <i class="fa fa-archive"></i>
                                <span th:text="#{header.userDetails.myaccount}"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a id="languageSelection" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span th:text="#{header.languageDropdown}"></span> <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="?lang=pt_BR"><span class="flag-icon flag-icon-br"></span> Português - Brasil</a></li>
                        <li><a href="?lang=en"><span class="flag-icon flag-icon-us"></span> English</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>